

<body>
    <h1>Update Event</h1>
    <div class="disp">
      <form [formGroup]=" loginForms" (ngSubmit)="loginUser()">
        <label id="eventName">EventName: </label>
        <input type="text" placeholder="Enter the your name" name="EventName" formControlName="EventName"/>
        <br><br>
  
        <label id="ApplicantName">ApplicantName: </label>
        <input type="text" placeholder="Enter Applicant" name="ApplicantName" formControlName="ApplicantName"/>
        <br><br>
    
        <label id="ApplicantAddress">Applicant Address: </label>
        <input type="text" placeholder="Enter your address" name="ApplicantAddress" formControlName="ApplicantAddress"/>
        <br><br>
    
        <label id="ApplicantMobile">Applicant Mobile: </label>
        <input type="text" placeholder="Enter Number" name="ApplicantMobile" formControlName="ApplicantMobile"/>
        <br><br>
   
        <label id="ApplicantEmail">Applicant Email: </label>
        <input type="text" placeholder="Enter Email" name="ApplicantEmail" formControlName="ApplicantEmail"/>
        <br><br>
      
        <label id="EventAddress">Event Address: </label>
        <input type="text" placeholder="Enter your address" name="EventAddress" formControlName="EventAddress"/>
        <br><br>
    
        <label id="EventFromDate">EventFromDate: </label>
        <input type="text" placeholder="Event date" name="EventFromDate" formControlName="EventFromDate"/>
        <br><br>
    
        <label id="EventToDate">EventToDate: </label>
        <input type="text" placeholder="Event date" name="EventToDate" formControlName="EventToDate"/>
        <br><br>
  
      </form>
    </div>
  
    <div class="upadatebutton">
      <button type="button" onclick="alert('UPDATE')">UpdateButton</button>
    </div>
    
  </body>