ul {
    list-style-type: none;
    margin: 20px;
    padding: 30px;
    overflow: hidden;
    text-decoration: none;
     }
        
        li {
       display: inline;
     background-color: rgba(16, 19, 19, 0.32);
      padding: 98px;
    
     }
      